header {
padding: 25px 0px 0px 0px;
}
footer {

}
#barrier {
  background-color: #00A1FF;
  border: 1px #000000 solid;
  font-family: Arial;
  font-weight: bold;
  margin: 5px;
  padding: 25px;
  text-align: center;
  width: 500px;
  }
#white-space {
  margin: 5px;
}
#black-border {
  background-color: #FFFFFF;
  border: 1px #000000 solid;
  width: 562.5px;
  }
  #blue-fill {
    background-color: #00A1FF;
  }
main {
background-color: #00A1FF;
border: 1px #000000 solid;
font-family: Arial;
margin: 5px;
padding: 25px;
text-align: center;
width: 500px;
}
#inline-content {
  border: 1px #000000 solid;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 25px 25px 20px 25px;
}
.some {
font-style: italic;
}
.inline {
font-weight: bold;
}
.block-content {
background-color: #FFFFFF;
border: 1px #000000 solid;
padding: 10px 25px;
margin: 10px;
font-weight: bold;
width:
}
.inline-block {
background-color: #FFFFFF;
border: 1px #000000 solid;
display: inline-block;
font-weight: bold;
padding: 10px 25px;
margin: 5px 50px;
}
.left {
left: 50px;
}
.right {
right: 50px;
}